## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [61]:
ciudades=["Cordoba","Milan","Miami","Berlin","Morro de Sao Pablo","Barcelona"]

print(ciudades)

['Cordoba', 'Milan', 'Miami', 'Berlin', 'Morro de Sao Pablo', 'Barcelona']

2) Imprimir por pantalla el segundo elemento de la lista

In [62]:
print(ciudades[1])

Milan

3) Imprimir por pantalla del segundo al cuarto elemento

In [63]:
print(ciudades[1:4])

['Milan', 'Miami', 'Berlin']

4) Visualizar el tipo de dato de la lista

In [64]:
type(ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [65]:
print(ciudades[2:])

['Miami', 'Berlin', 'Morro de Sao Pablo', 'Barcelona']

6) Visualizar los primeros 4 elementos de la lista

In [66]:
print(ciudades[:4])

['Cordoba', 'Milan', 'Miami', 'Berlin']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [10]:
ciudades.append("Montevideo","Miami") #Tira error

TypeError: list.append() takes exactly one argument (2 given)

In [67]:
ciudades.append("Miami")

In [68]:
ciudades.append("Montevideo")

In [69]:
print(ciudades)

['Cordoba', 'Milan', 'Miami', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo']

8) Agregar otra ciudad, pero en la cuarta posición

In [70]:
ciudades.insert(3,"Bogota")
print(ciudades)

['Cordoba', 'Milan', 'Miami', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo']

9) Concatenar otra lista a la ya creada

In [71]:
ciudades.extend(["Lima","Paris"])
print(ciudades)

['Cordoba', 'Milan', 'Miami', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Paris']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [72]:
ciudades.index("Miami") #Solo menciona la posicion del que creamos primero

2

11) ¿Qué pasa si se busca un elemento que no existe?

In [73]:
ciudades.index("Nueva York") #Me tira error

ValueError: 'Nueva York' is not in list

12) Eliminar un elemento de la lista

In [74]:
ciudades.remove("Miami")
print(ciudades)

['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Paris']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [75]:
ciudades.remove("Nueva york") #Me tira error

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [76]:
francia=ciudades.pop()

print(ciudades)

['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima']

In [77]:
print(francia)

Paris

15) Mostrar la lista multiplicada por 4

In [78]:
ciudades4=ciudades*4
print(ciudades4)

['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [79]:
numeros=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
type(numeros)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [80]:
numeros[10:16]

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [81]:
20 in numeros

True

In [82]:
30 in numeros

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [83]:
n="Paris"
if ((n in ciudades)==True):
    print("Paris ya esta en la lista")
else:
    ((n in ciudades)==False)
    ciudades.append("Paris")
    print(ciudades)
    print("Se agregó exitosamente la ciudad PARIS")

['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Paris']
Se agregó exitosamente la ciudad PARIS

In [84]:
n=input()
if ((n in ciudades)==True):
    print(str(n)," ya esta en la lista")
else:
    ((n in ciudades)==False)
    ciudades.append(n)
    print("Se agregó exitosamente la ciudad", str(n))

print(ciudades)

Se agregó exitosamente la ciudad Tokio
['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Paris', 'Tokio']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [85]:
ciudades.count("Milan")

1

In [86]:
numeros.count(15)

1

21) Convertir la tupla en una lista

In [87]:
numeros_lista=list(numeros)
type(numeros_lista)

list

In [88]:
numeros_tupla=tuple(numeros_lista)
type(numeros_tupla)

tuple

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [89]:
uno=numeros[0]
dos=numeros[1]
tres=numeros[2]

print(uno)
print(dos)
print(tres)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [91]:
mundo_diccionario={"Ciudades":ciudades, "Pais":10,"Continentes":3}
print(mundo_diccionario)

{'Ciudades': ['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Paris', 'Tokio'], 'Pais': 10, 'Continentes': 3}

24) Imprimir las claves del diccionario

In [92]:
print(mundo_diccionario.keys())

dict_keys(['Ciudades', 'Pais', 'Continentes'])

25) Imprimir las ciudades a través de su clave

In [95]:
print(mundo_diccionario["Ciudades"])

['Cordoba', 'Milan', 'Bogota', 'Berlin', 'Morro de Sao Pablo', 'Barcelona', 'Miami', 'Montevideo', 'Lima', 'Paris', 'Tokio']