## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=10
print(x)

10

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [6]:
nombre= "Carolina"

5) Crear una variable que contenga un número complejo

In [8]:
complejo = 2 + 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
val1= "True"
val2= True

#No es lo mismo, son distintos tipos de datos, una es string y la otra es booleana

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print("La Variable 1 es del tipo ", type(val1))
print("La Variable 2 es del tipo ",type(val2))

La Variable 1 es del tipo  <class 'str'>
La Variable 2 es del tipo  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
y= 6 + 2.5

11) Realizar una operación de suma de números complejos

In [17]:
n= 2+3j
k= 4+7j
r=n+k
print(r)

(6+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
a=9
b= 1+2j
print(a+b)

(10+2j)

13) Realizar una operación de multiplicación

In [20]:
x=2*4
print(x)

8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
y=27
x=4
j=y/x
print(j)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
l=y//x
print(l)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
rest= y%x
print(rest)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
pal1= "Rio de la " 
pal2= "Plata"
print(pal1 + pal2)

Rio de la Plata

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
"2"==2 #estariamos diciendo que un string es igual a un entero

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [35]:
2==int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a=float("3.8") #pero si ponemos con coma me da error el numero "3,8" porque me estaria indicando un string

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [32]:
x=3
x-=1
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [36]:
1<<2 #En binario el numero 1 es 0001 y me indica que mueva al uno dos espacios hacia la izq osea 0100 que es 4 en decimal

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
2+"2"
#diferentes tipos de dato poreso da error, y el resultado seria igual a los datos iguales que estariamos sumando

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [40]:
2 + int("2")

4

In [44]:
var1= "JA"
var2= 9
var3= " me hiciste reir por "
print(var1*var2 + var3 + str(var2) + " minutos")

JAJAJAJAJAJAJAJAJA me hiciste reir por 9 minutos